/*#el {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}*/


li {list-style-type: none;  }
/*#el3 {
    pointer-events:none;
}*/

